Repository ondrejsika/gitlab-ci--snk--2020-07-31--ci-intro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build foo, build bar, report, test foo, test bar, slow load test, integration test, deploy foo, deploy bar, healthcheck

.gitlab-ci.yml:

stages:
  - build
  - report
  - test
  - deploy
  - healthcheck


build foo:
  stage: build
  script: echo Build foo!
  only:
    changes:
      - foo/**

build bar:
  stage: build
  script: sleep 10 && echo Build bar!
  only:
    changes:
      - bar/**

report:
  stage: report
  script: echo Reporting failed build ...
  when: on_failure
  only:
    changes:
      - foo/**
      - bar/**

test foo:
  stage: test
  script: echo Test foo!
  needs:
    - build foo
  only:
    changes:
      - foo/**

test bar:
  stage: test
  script: echo Test bar!
  needs:
    - build bar
  only:
    changes:
      - bar/**

slow load test:
  stage: test
  script: sleep 20 && echo Load Test! && false
  allow_failure: true
  only:
    - master
  only:
    changes:
      - foo/**
      - bar/**

integration test:
  stage: test
  script: sleep 10 && echo Integration Test!
  only:
    changes:
      - foo/**
      - bar/**

deploy foo:
  stage: deploy
  script: echo Deploy foo!
  when: manual
  allow_failure: false
  needs:
    - test foo
  only:
    refs:
      - master
    changes:
      - foo/**

deploy bar:
  stage: deploy
  script: echo Deploy bar!
  when: manual
  allow_failure: false
  needs:
    - test bar
  only:
    refs:
      - master
    changes:
      - bar/**

healthcheck:
  stage: healthcheck
  script: echo Check deploymnet!
  only:
    refs:
      - master
    changes:
      - foo/**
      - bar/**

Update foo/README.md
  foo/README.md
Due: build foo, report, test foo, slow load test, integration test, deploy foo, healthcheck

Update bar/README.md
  bar/README.md
Due: build bar, report, test bar, slow load test, integration test, deploy bar, healthcheck

Update bar/README.md, foo/README.md files
  bar/README.md
  foo/README.md
Due: build foo, build bar, report, test foo, test bar, slow load test, integration test, deploy foo, deploy bar, healthcheck

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update foo/Dockerfile, .gitlab-ci.yml files
  .gitlab-ci.yml
  foo/Dockerfile
Due: build foo, report, test foo, slow load test, integration test, deploy foo, healthcheck

Update baz/Pipfile, baz/Pipfile.lock, baz/server.py files
  baz/Pipfile
  baz/Pipfile.lock
  baz/server.py
Due: none

Update baz/Pipfile
  baz/Pipfile
Due: none

Update cmd-hello/hello.go, .gitlab-ci.yml files
  .gitlab-ci.yml
  cmd-hello/hello.go
Due: none

Update foo/Dockerfile
  foo/Dockerfile
Due: build foo, report, test foo, slow load test, integration test, deploy foo, healthcheck
